@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div class="jumbotron">
    <p>Our Manga Book Store collects and sells the most popular and latest, brand new Japanese manga Book. We offer affordable and the lowest price around NZ to everyone enjoying reading Japanese manga. We only offer physical books as expecting everyone can enjoy the feeling of reading books on hand.</p><br />
    <p>This site does not support IE8 browser. If the webpage does not display properly, please upgrade to IE9 and above. It is recommended to use professional browsers such as IE11, Firefox, Chrome, etc.</p>
</div>