@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<div class="jumbotron">
    <p>If you are interested in joinning us or promotion, PLEASE send an email to our <a href="mailto:Junjie_Mai_Support@Massey.com">Marketing department</a>.<br /> If you need helps, or have any questions and suggestions, PLEASE call us, leave a message below or send an email to our <a href="mailto:Junjie_Mai_Support@Massey.com">Support department</a>. We will reply as soon as possible.</p>

<address>
    <b>Manga Book Store</b><br />
    Auckland, NZ 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Junjie_Mai_Support@Massey.com">Junjie_Mai_Support@Massey.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Junjie_Mai_Marketing@Massey.com">Junjie_Mai_Marketing@Massey.com</a>
</address>
</div>